.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
  background: linear-gradient(79.5deg, #F8CCFF 0%, #FFEBCC 100%);
}

.companyName {
  margin-top: 2vw;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 5vw;
  line-height: 6vw;
  color: #2F1973;
  text-align: center;
}

.companyDescription {
  margin-top: 1vw;
  margin-bottom: 7vw;
  width: 50vw;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 2vw;
  color: #2F1973;
}